.heading1 {
    border-bottom: 1px solid black;
    padding-left: 60px;

}

.small-font {
    font-size: 14px;
}

.from-box {
    width: 350px;
    margin-left: 60px;
}

.button {
    background: -moz-linear-gradient(top, #BFD9E5, #3D95B7 50%, #0080B3 50%, #0099CC);
    background: -webkit-gradient(linear, left top, left bottom, from(#BFD9E5), color-stop(0.5, #3D95B7), color-stop(0.5, #0080B3), to(#0099CC));
    color: #FFF;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #0099CC;
    -moz-box-shadow: 1px 1px 1px rgba(000, 000, 000, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 1px 1px 1px rgba(000, 000, 000, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5);
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    width: 200px;
    padding: 20px 0;
    margin-top: 30px;
    line-height: 3px;
        font-size: 18px;


}

input {
    width: 200px;
    height: 30px;
}

.block
{
  display: block;
}

.newaccount{
    text-align: center;
    text-decoration: none;
    font-size: 18px;

}

